@using WorkWithEF.ViewModels
@model TaskViewModel

<form asp-controller="Task" asp-action="CommitEdit">
    <input asp-for="Id" type="hidden" />
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.EditorFor(m => m.Name)</td>
            <td><span style="color:red">@Html.ValidationMessageFor(m => m.Name)</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Description)</td>
            <td>@Html.EditorFor(m => m.Description)</td>
            <td><span style="color:red">@Html.ValidationMessageFor(m => m.Description)</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Performer)</td>
            <td>@Html.EditorFor(m => m.Performer)</td>
            <td><span style="color:red">@Html.ValidationMessageFor(m => m.Performer)</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Status)</td>
            <td>
                <select asp-for="Status">
                    @foreach (WorkWithEF.Models.Status availStatus in ViewBag.AvailStatuses)
                    {
                    <option value="@availStatus.StatusID" >@availStatus.StatusTitle</option>
                    }
                </select>
            </td>
            <td> <span style="color:red">@Html.ValidationMessageFor(m => m.Status)</span> </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" id="submitbutton" value="Edit" /></td>
        </tr>
    </table>
</form>