@using System.Collections.Generic
@using WorkWithEF.ViewModels
@model TaskViewModel

@{
    ViewBag.Title = "Edit Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit task @Model.Id</h2>

@using (Html.BeginForm("CommitEdit", "Task"))
{
    @Html.Hidden("Id", @Model.Id);
    @Html.TextBox("Name", @Model.Name);
    @Html.TextBox("Description", @Model.Description);
    @Html.TextBox("Performer", @Model.Performer);
    
    <input type="submit" name="submit" value="End editing" />
}
